<ion-header [translucent]="true">
  <ion-toolbar>
    <!--<app-company-name [companyName]="'DronStore'"></app-company-name>-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado opcional -->
    <ion-title class="center-title"> Registro</ion-title>

    <!-- Botón de menú a la derecha-->
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"> 

   
    <ion-card>

  
      <!-- Creamos los campos para el home-->
      <ion-card-content>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input type="text" [(ngModel)]="apellido"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email" [(ngModel)]="usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Dirección</ion-label>
        <ion-input type="text" [(ngModel)]="direccion"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">País</ion-label>
        <ion-select [(ngModel)]="pais" interface="action-sheet">
          <ion-select-option value="Colombia">Colombia</ion-select-option>
          <ion-select-option value="Chile">Chile</ion-select-option>
          <ion-select-option value="Perú">Perú</ion-select-option>
          <ion-select-option value="Argentina">Argentina</ion-select-option>
          <ion-select-option value="Ecuador">Ecuador</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-item>  

           <!-- Componente de Angular Material-->
           <mat-form-field>
            <mat-label>dd/mm/yyyy</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">  
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> 
          </mat-form-field>  
 
           
        </ion-item>
      </ion-item>

      </ion-card-content>

        <!-- Creamos el boton -->

        <ion-button (click)="guardar()"  expand="block" fill="clear">Guardar Datos</ion-button> 

    </ion-card>
   
</ion-content>
