<ion-header [translucent]="true">
  <ion-toolbar>
    <app-company-name [companyName]="'Frutix'"></app-company-name>
    <ion-buttons slot="end">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"> 

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="Lente Adulto">
        <ion-icon name="person"></ion-icon>
        <ion-label>Lente Adulto</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Lente infantil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Lente infantil</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="Sobre Lentes">
        <ion-icon name="person"></ion-icon>
        <ion-label>Sobre Lente</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Lentes de sol">
        <ion-icon name="person"></ion-icon>
        <ion-label>Lentes de sol</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


</ion-content>
