#container {
  text-align: center;
  color: black;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

:deep(ion-content) {
  --background: url('/assets/img/Fondo.jpg') no-repeat center center / cover;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: black;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px; 
}

.user-info h2 {
  font-size: 1.5em;
  color: #000000;
  font-weight: 600;
  margin-bottom: 5px;
}

.user-info h2 strong {
  color: #000000;
}

.user-info span {
  color: #000000;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%; 
}

.user-info  span { 
  font-size: 0.8em;
  font-weight: bold;
}

ion-card {
  background-color: black(255, 255, 255); /* Fondo semitransparente */
  backdrop-filter: blur(5px); /* Opcional: agrega un efecto de desenfoque detrás */
  box-shadow: none;
  border-radius: 5%;
  margin: 10%  auto;
  width: 75%; 
}

ion-card ion-item {
  --background: transparent; /* Fondo transparente */
  color: black; /* Color de texto en naranja oscuro */
}

:deep(ion-menu ion-item) {
  color: black;
}

:deep(ion-menu ion-label) {
  color: black;
}

ion-card-header {
  padding: 0;
  text-align: center;
}



.ofertas-info {
  text-align: center;
  color: black;
  animation: zoomIn 3s ease-in-out infinite alternate;
  margin-top: 15%;
}

 /* Animación de zoom suave */
 @keyframes zoomIn {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  100% {
    transform: scale(0.8); /* Zoom leve */
  }
}